.page-title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.test-background {
    background-color: purple;
}

.simon-button {
    background-color: purple; /*To be able to tell if there is a button without color applied*/
    border-radius: 25%;
    display: block;
    border: 7px solid black;
    aspect-ratio: 1/1 !important;
}

.simon-red {
    background-color: red;
}
.simon-green {
    background-color: green;
}
.simon-yellow {
    background-color: yellow;
}
.simon-blue {
    background-color: blue;
}

.button-hovered {
    opacity: 80%;
}